body {
  font-family: 'Raleway', sans-serif;
}

#canvas1 {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 52%, rgba(255, 255, 255, 1) 100%, rgba(0, 0, 0, 1) 100%);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/*.header{
  background: url(work-place.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  position: relative;
} */

/* -- header starts -- */

.header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header_logo, .header_nav {
  padding: 3% 0;
}

.header_logo {
  float: left;
  width: 40%;
  font-size: 1.4em;
  font-weight: 300;
}

.header_nav ul {
  display: flex;
  justify-content: space-between;
}

.header_nav ul li {
  list-style: none;
}

.header_nav ul li a {
  color: #000;
  text-decoration: none;
}

.header_nav ul li a:hover {
  border-bottom: 1px solid black;
  transition: 2s;
}

.header_main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 4em;
}

.header_main h1 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 300;
}

#header_btn {
  background: none;
  color: #000;
  border: 1px solid #000;
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
}

#header_btn:hover {
  background: #79a3b1;
}

/* -- header ends -- */

/* -- services starts -- */

.services {
  padding-top: 120px;
  padding-bottom: 125px;
  color: #000;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.services__title {
  font-size: 30px;
  padding-bottom: 40px;
  font-weight: 300;
}

.services_h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 300;
}

/* -- services ends -- */

/* -- form starts -- */

.footer {
  background: url(work-place.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 165px;
  padding-bottom: 125px;
  color: #000;
  text-align: center;
  position: relative;
}

.footer input, .footer textarea {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
}

.footer input:focus, .footer textarea:focus {
  outline: none;
}

.footer textarea {
  margin-top: 30px;
  margin-bottom: 30px;
  resize: none;
}

.footer button {
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  padding: 10px 45px;
  border-radius: 10px;
  transition: .3s;
}

.footer button:hover {
  opacity: .6;
}

.form {
  margin-top: 70px;
}

/* -- form ends -- */

/* -- footer starts -- */

.footer_rights {
  padding: 20px 0;
  color: #000;
  width: 100%;
  background: #fff;
  position: relative;
}

.footer_content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.verify {
  font-size: .8em;
}

/* -- footer ends -- */

.m-menu-link {
  display: none;
}

.m-menu {
  padding: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  text-align: center;
  list-style: none;
  font-size: 3rem;
  line-height: 1.4em;
  background-color: #fff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: 0.2s;
}

.close-menu {
  position: fixed;
  right: 1rem;
  top: 0;
  font-size: 5rem;
  font-weight: 900;
  color: #000;
}

.close-menu:hover {
  cursor: pointer;
}

.m-menu__active {
  transform: translateX(0%);
}

.get-started-header {
  background: none;
  color: #000;
  padding: 10px 15px;
  margin-top: 40px;
  cursor: pointer;
  text-transform: uppercase;
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
  .visible-lg {
    display: none;
  }
  .m-menu-link {
    display: block;
    position: absolute;
    left: 85%;
    color: #000;
    font-size: 3rem;
  }
  .m-menu-link a {
    color: #000;
  }
  .menu-link {
    margin: 30px 0;
    color: #000;
  }

  .email, .text{
    margin-bottom: 20px;
  }

}

@media (max-width: 767px) {
  .visible-lg {
    display: none;
  }
  .m-menu-link {
    display: block;
    position: absolute;
    left: 85%;
    color: #000;
    font-size: 3rem;
  }
  .m-menu-link a {
    color: #000;
  }
  .menu-link {
    color: #000;
  }
}